# Compiler output directory
*.dSYM/*

# macOS directory file
.DS_Store

# Editor settings
.vscode/*

# Binaries
Binaries/
preprocess

# Output files
*.o

# Resources
1000-sudokus/

# Xcode files
xcuserdata/

# SAT solver output
filename.out